@import 'tailwindcss';

@theme {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-accent: var(--accent);

  --color-accent-bg: oklch(from var(--accent) l c h / 0.05);
  --color-accent-border: oklch(from var(--accent) l c h / 0.15);
}

@layer base {
  :root {
    --accent: #f47121;
    --dot-color: light-dark(#e4e4e7, #27272a);
    --bg: light-dark(#fafaf9, #1c1917);
    --text: light-dark(#44403c, #a8a29e);
    --text-h: light-dark(#1c1917, #fafaf9);

    color-scheme: light dark;
    font-family: 'Inter', system-ui, sans-serif;

    font-size: clamp(16px, 1cqi + 0.5rem, 18px);
    line-height: 1.6;
  }

  body {
    margin: 0;
    color: var(--text);
    background-color: var(--bg);
    background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
    background-size: 24px 24px;

    transition:
      background-color 200ms ease,
      color 200ms ease;
  }
}

@layer components {
  .router-link-active:not(.logo) {
    @apply text-accent;
  }

  .router-link-active .lucide {
    @apply text-accent;
  }
}
